<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <!-- <p>Form value: {{ f.value | json }}</p>
        <p>Form valid: {{ f.valid }}</p> -->
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          name="Email"
          ngModel
          required
          #Email="ngModel"
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter your email"
        />
        <!-- <p>email name value: {{ email.value }}</p>
        <p>email name valid: {{ email.valid }}</p>
        <p>email name dirty: {{ email.dirty }}</p>
        <p>email name touched: {{ email.touched }}</p> -->

        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label"
          >Login Password</label
        >
        <input
          name="Password"
          ngModel
          required
          #Password="ngModel"
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Enter your password"
        />
        <!-- <p>password name value: {{ password.value }}</p>
        <p>password name valid: {{ password.valid }}</p>
        <p>password name dirty: {{ password.dirty }}</p>
        <p>password name touched: {{ password.touched }}</p> -->
      </div>
      <!-- <div class="form-group form-check">
                <a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
            </div> -->
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
